<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <h1>Tweet game</h1>

    <section id="enterNickname" class="contentBlock">
        <% include ../partials/enterNickname %>
    </section>

    <section id="dashboard" class="hide">
        <% include ../partials/dashboard %>
    </section>

    <section id="gameWrapper" class="hide">
        <% include ../partials/game %>
    </section>

    <section id="offline" class="hide">
        <% include ../partials/offline %>
    </section>

    <!-- <script src="http://localhost:3007/socket.io/socket.io.js"></script> -->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.8.0/d3.min.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
