<section id="inputWordWrapper">
    <form id="wordForm">
        <h2>
            Choose a word that will be tweeted with <span id="randomNumber">50</span> times in one minute.
        </h2>
        <input id="inputWord" type="text">
        <input type='submit' value='Pick!' />
    </form>
</section>

<section id="countTweets" class="hide">
    <p id="numberCount">0</p>
    <ul id="tweets"></ul>
</section>

<section id="gameResults" class="hide">
    <ul>
        <li>
            You had to guess a word which would be tweeted <span id="resultsGuess"></span> times.
        </li>
        <li>
            The word you chose was tweeted with <span id="resultsAmount"></span> times.
        </li>
        <li>
            You're score is <span id="resultsScore"></span>. The closer you are to 100%, the better.
        </li>
    </ul>
    <button id="reset">
        Back to start
    </button>
</section>

<!-- <form id="wordForm">
    <input id="inputWord" type="text">
    <input type='submit' value='Pick!' />
</form>
<p id="numberCount">0</p>
<ul id="tweets"></ul> -->
