<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">
    <h1>Zish's api</h1>

    <ul id="tweets"></ul>

    <!-- <script src="http://localhost:3007/socket.io/socket.io.js"></script> -->
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
