* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*background-color: #1DA1F2;*/
    background: linear-gradient(to left, #1DA1F2, #56ccf2);
    font-family: sans-serif;
    color: #ffffff;
    text-align: center;
    padding: 1em;
    overflow: hidden;
}

p {
    font-size: 3em;
    color: blue;
}

.contentBlock {
    background-color: #ffffff;
    color: #1DA1F2;
    margin:0 auto;
    padding:1em;
    width:90%;
    max-width: 45em;
}

#enterNickname{

}

/* Dashboard */
.dashboardWrapper {
    margin: 1em auto;
    max-width: 30em;
}

#currentUsers {
    background-color: #ffffff;
    max-width: 30em;
    list-style-type: none;
    padding: 1em;
    margin: 1em auto;
}

#currentUsers li {
    color: #1DA1F2;
    font-size: 1.5em;
}

#resetNickname {
    position: absolute;
    bottom: 1em;
    left: 1em;
}

/* GAME */
#chosenWord {
    position: fixed;
    color: #a2d8f9;
    font-size: 2em;
    bottom: 0.5em;
    left:0;
    right:0;
}

#guessedWord,
#goal {
    font-style: italic;
    color: #ffffff;
}

#clockdiv {
    background-color: #ffffff;
    display: inline-block;
    color: #1DA1F2;
    padding:2em;
}

@media only screen and (min-width: 650px) {
    #clockdiv {
        font-size: 2em;
    }
}

@media only screen and (min-width: 910px) {
    #clockdiv {
        border-radius: 50%;
    }
}

.clockWrapper {
    color: #1DA1F2;
}

.seconds {
    font-size: 2em;
    display: block;
}

@media only screen and (min-width: 910px) {

    #clockdiv {
        position: absolute;
        top:-20%;
        left:-10%;
        height: 150vh;
        width: 40vw;
    }

    .clockWrapper {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-30%, -50%);
    }

}

@media only screen and (min-width: 1200px) {

    #clockdiv {
        position: absolute;
        top:-20%;
        left:-10%;
        height: 150vh;
    }

}

#numberCount {
    color: #ffffff;
    font-size: 5em;
    position: relative;
}

@media only screen and (min-width: 900px) {

    #numberCount {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 8em;
    }

}

#tweets {
    display: inline-block;
    width:90%;
    max-height: 10em;
    /*overflow-x: hidden;*/
    margin:0 auto;
}

@media only screen and (min-width: 910px) {

    #tweets {
        position: absolute;
        border:3px red dashed;
        width:1em;
        bottom:0;
        right:0;
    }

}

#tweets li {
    background-color: #ffffff;
    padding:0.5em;
    color: #1DA1F2;
    border-radius: 0.5em;
    margin-top: 0.2em;
    z-index: 99999;
}

@media only screen and (min-width: 910px) {

    #tweets li {
        position: absolute;
        display: inline-block;
        width: 20em;
        left:-25em;
        bottom: -10em;
        animation: tweets 5s linear;
        opacity: 0.5;
    }

}

#resultsPop {
    background-color: #ffffff;
    box-shadow: 7px 7px 6px 0px rgba(0,0,0,0.16);
    color: #1DA1F2;
    border-radius: 1em;
    padding:1em;
    position: absolute;
    font-size: 1.5em;
    left: -15em;
    top: 1em;
    display: none;
}

#gameResults ul {
    list-style-type: none;
    max-width: 40em;
    margin: 0 auto;
}

#gameResults ul li {
    background-color: #ffffff;
    padding: 1em;
    font-size: 1.2em;
    margin-top: 0.5em;
    color: #1DA1F2;
}

.letsPop {
    display: inline-block !important;
    animation: popup 3s linear;
}

#popupName,
#popupScore {
    font-weight: bold;
}

/* ANIMATIONS */

@keyframes tweets {
  0% {
    bottom: -10em;
    opacity: 0.5;
  }
  50% {
      opacity: 1;
  }
  100% {
    bottom: 150vh;
    opacity: 0.5;
  }
}

@keyframes popup {
  0% {
    left: -15em;
  }
  20% {
      left: 1em;
  }
  80% {
      left: 1em;
  }
  100% {
    left: -15em;
  }
}

/* HELPERS */

.newHigh {
    font-size: 2em;
    background-color: red;
    position: absolute;
    color: #ffffff;
    padding:1em;
    transform: rotate(20deg);
    top: 1em;
    right:-1em;
}

h1 {
    margin: 1em;
}

label {
    font-size: 1.5em;
}

input[type="text"] {
    padding: 0.5em;
    color: #1DA1F2;
    font-size: 1em;
    font-weight: bold;
    border: 0.2em #1DA1F2 solid;
}

input[type="submit"] {
    background-color: #1DA1F2;
    box-shadow: 7px 7px 6px 0px rgba(0,0,0,0.16);
    border: 0.2em #1DA1F2 dashed;
    color: #ffffff;
    font-weight: bold;
    font-size: 1em;
    padding: 0.5em 1em;
    margin: 0.5em;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    border: 0.2em #ffffff dashed;
    transition: 0.3s;
}

button {
    background-color: #ffffff;
    box-shadow: 7px 7px 6px 0px rgba(0,0,0,0.16);
    border: 0.2em #ffffff dashed;
    color: #1DA1F2;
    font-weight: bold;
    font-size: 1em;
    padding: 1em;
    margin: 0.5em;
    cursor: pointer;
    transition: 0.3s;
}

button:hover,
button:focus {
    border: 0.2em #1DA1F2 dashed;
    transition: 0.3s;
}

#offline {
    background: linear-gradient(to left, #1DA1F2, #56ccf2);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    padding: 2em;
    z-index: 999999;
}

#offline p {
    color: #ffffff;
    margin-top: 1em;
}

.hide {
    display: none;
}

#confetti{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
